*, *::before, *::after{
    box-sizing: border-box;
    font-family: monospace;
}

body {
    padding: 0;
    margin: 0; 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke; 
    font-size: larger;
}

.main-content {
    width: 800px;

}

.title {
    text-align: center; 
}

.timer {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

.intro-blurb {
    padding: 50px;
}

.quiz-box {
    padding-left: 50px;
    padding-right: 50px;
}

.question {
    margin-bottom: 10px;
}

.btn-grid {
    display: grid;
    
}

.btn {
    background-color: rgb(173, 153, 128);
    margin: 5px;
    border-radius: 5px;
	padding-top: 4px;
    padding-bottom: 4px;
}

.start-btn { 
    display: flex;
    justify-content: center;
    
}

.scoreSheetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke; 
}

.userNameContainer {
    display: flex;
    justify-content: center;
    color:black;
}

.name {
    color: whitesmoke; 

}

.highscore-header {
    color: whitesmoke; 
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.your-score {
    display: flex;
    justify-content: center;
}
.btn:hover {
    opacity: 50%;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.endText {
    color: whitesmoke; 
}

.endTextContainer {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}




